@font-face {
  font-family: 'font-awesome';
  src:  url('../fonts/fontawesome-webfont.ttf') format('ttf'),
  url('../fonts/fontawesome-webfont.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src:  url('../fonts/Roboto-Regular.ttf') format('ttf'),
  url('../fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src:  url('../fonts/RobotoMedium.ttf') format('ttf'),
  url('../fonts/RobotoMedium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src:  url('../fonts/RobotoLight.ttf') format('ttf'),
  url('../fonts/RobotoLight.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src:  url('../fonts/RobotoThin.ttf') format('ttf'),
  url('../fonts/RobotoThin.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
}
