@import '_partials/bootstrap.css';
@import "../../node_modules/reset-css/reset.css";
@import "../../node_modules/font-awesome/css/font-awesome.min.css";
@import "../../node_modules/swiper/dist/css/swiper.min.css";
@import "_partials/fonts";
@import "_partials/fm.revealator.jquery.min.css";

* {
  box-sizing: border-box;
}

button, input, select {
  outline: none;
  border: none;
}

html {
  height: 100%;
}

body {
  background-color: #f2f2f2;
  font-family: Roboto;
  overflow-x: hidden;
}

.events-menu {
  position: relative;
  &:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 0;
    right: -15px;
    height: 0;
    border-style: solid;
    border-width: 3px 2.5px 0 2.5px;
    border-color: #ffffff transparent transparent transparent;
  }
  &:hover {
    color: #c69c6d;
  }
}

.swiper-container {
  width: 100%;
  .swiper-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 40px;
}

.swiper-pagination-bullet {
  background: #fff;
  opacity: .7;
}

.swiper-pagination-bullet-active {
  background: #fff;
  opacity: 1;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 7px;
}

.swiper-btn-next {
  cursor: pointer;
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  display: none;
}

.swiper-btn-prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
  z-index: 2;
  display: none;
}

.container {
  position: relative;
}

.white-bg {
  background: #ffffff;
  padding-top: 127px;
}

.burger {
  background: transparent;
  margin: 10px;
  .fa-bars {
    color: #c69c6d;
    font-size: 28px;
  }
}

h2 {
  text-transform: uppercase;
  font-size: 34px;
  color: #1A1A1A;
  text-align: center;
  letter-spacing: 34px;
  margin-bottom: 15px;
  padding-left: 34px;
}

.navigation {
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  margin-top: 40px;
  li {
    width: auto !important;
    a {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 3.48px;
      color: #ffffff;
      &:hover {
        color: #c69c6d;
      }
    }
  }
  .main-btn-header {
    border: 1px solid #c69c6d;
    background-color: transparent;
    padding: 11px 24px;
    border-radius: 50px;
    color: #fff;
    //display: block;
    font-size: 12px;
    letter-spacing: 3.48px;
    font-weight: 500;
    position: relative;
    z-index: 2;
    display: none;
    &:hover {
      background-color: #c69c6d;
    }
  }
}

.description {
  text-align: center;
  font-size: 16px;
  color: #666;
  padding-bottom: 40px;
}

.info {
  font-size: 13px;
  line-height: 23px;
  color: #808080;
  text-align: center;
  padding-bottom: 30px;
}

.main-btn {
  border: 1px solid #c69c6d;
  background-color: transparent;
  padding: 11px 120px;
  border-radius: 50px;
  color: #333333;
  display: block;
  font-size: 12px;
  letter-spacing: 3.48px;
  margin: 0 auto;
  font-weight: 500;
  position: relative;
  z-index: 2;
  &:hover {
    background-color: #c69c6d;
    color: #ffffff;
  }
}

.circle-branch {
  position: absolute;
  background-image: url(../img/circle-branch.png);
  background-size: contain;
  width: 228px;
  height: 230px;
  left: 50%;
  transform: translateX(-50%);
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

li {
  list-style-type: none;
}

.swiper-slider {
  margin-top: 100px;
  .bg-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    height: 410px;
    left: 0;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .7);
      z-index: 3;
    }
    .bg-1 {
      background: url(../img/bg-1.jpg) no-repeat center center;
      background-size: cover;
      position: relative;
      height: 818px;
    }
    .bg-2 {
      background: url(../img/bg-2.jpg) no-repeat center center;
      background-size: cover;
      position: relative;
      height: 818px;
    }
    .bg-3 {
      background: url(../img/bg-3.jpg) no-repeat center center;
      background-size: cover;
      position: relative;
      height: 818px;
    }
  }
}

.main-page {
  background: url(../img/bg-2.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  height: 820px;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
  }
  header {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 12;
    nav {
      display: flex;
      justify-content: space-between;
      padding: 10px 70px;
      position: relative;
      z-index: 2;
      li {
        display: flex;
        align-items: center;
        a {
          display: flex;
          align-items: center;

          .fa-phone {
            margin-right: 10px;
            color: #c69c6d;
          }
          .fa-twitter, .fa-facebook {
            color: #c69c6d;
            margin-right: 17px;
            &:hover {
              opacity: 0.5;
            }
          }
          p {
            color: #ffffff;
            letter-spacing: 3.48px;
            font-size: 12px;
          }
        }
        .header-btn {
          padding: 9px 25px;
          color: #ffffff;
          background-color: #c69c6d;
          border-radius: 20px;
          font-weight: 300;
          border: 1px solid #c69c6d;
          letter-spacing: 3.48px;
          font-size: 12px;
          &:hover {
            background: transparent;
            transition: .5s all;
          }
        }
      }
      .soc-icons {
        width: auto;
      }
    }
    .navigation {
      padding: 0 260px;
      li {
        position: relative;
        &:hover .enclosed-nav {
          display: block;
        }
        &:hover a {
          color: #c69c6d;
        }
        &:hover .events-menu:after {
          border-color: transparent transparent #c69c6d transparent;
          border-width: 0 2.5px 3px 2.5px;
          transition: 0.5s all;
        }
        .enclosed-nav {
          display: none;
          position: absolute;
          width: 150px;
          top: -20px;
          left: -45px;
          padding: 40px 0 15px;
          background: #ffffff;
          li {
            a {
              color: #000000;
              padding: 0 15px;
              text-transform: none;
              line-height: 25px;
              letter-spacing: 0;
              font-weight: 500;
              &:hover {
                color: #c69c6d;
              }
            }
          }
        }
        a {
          position: relative;
          display: flex;
          z-index: 2;
          p {
            font-size: 6px;
          }
        }
      }
      .sticky-lincoln {
        display: none;
      }
    }
  }
  header.sticky {
    padding: 0;
    background: #333333;
    transition: all 0.4s ease;
    nav {
      padding: 12px 25px;
      background: #3D3D3D;
      .main-btn-header {
        display: block;
        margin: 15px 0;
      }
    }
    .navigation {
      background: transparent;
      margin-top: 0;
      li {
        .enclosed-nav {
          top: 47px;
          left: 0;
          padding: 10px 0 10px;
        }
      }
      .sticky-lincoln {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
          text-transform: uppercase;
          text-align: center;
          font-size: 32px;
          letter-spacing: 10px;
          color: #c1c2c2;
          padding-bottom: 6px;
          font-weight: 100;
        }
        p {
          font-size: 14px;
          letter-spacing: 15px;
          padding-left: 15px;
          color: #C1C2C2;
          text-transform: uppercase;
          text-align: center;
          font-weight: 400;
        }
      }
    }
  }
  .main-logo {
    position: relative;
    z-index: 2;
    padding-top: 285px;
    img {
      margin: 0 auto 65px;
      display: block;
    }
    h1 {
      text-transform: uppercase;
      text-align: center;
      font-size: 40px;
      letter-spacing: 15px;
      color: #c1c2c2;
      padding-bottom: 6px;
      font-weight: 300;
    }
    p {
      font-size: 20px;
      letter-spacing: 21px;
      padding-left: 15px;
      color: #C1C2C2;
      text-transform: uppercase;
      text-align: center;
      font-weight: 400;
    }
  }
  .main-btn {
    color: #ffffff;
    margin: 95px auto 220px;
    padding: 11px 90px;
    font-weight: 300;
  }
}

.gallery-info {
  position: relative;
  color: #ffffff;
  text-align: center;
  padding: 90px 15px;
  h1 {
    font-size: 34px;
    letter-spacing: 17px;
    text-transform: uppercase;
    font-weight: 300;
    padding-bottom: 27px;
    position: relative;
    z-index: 10;
  }
  .description {
    letter-spacing: 3.2px;
    color: #C69C6D;
    padding-bottom: 45px;
    position: relative;
    z-index: 10;
  }
  p {
    padding-bottom: 60px;
    position: relative;
    z-index: 10;
  }
  .main-btn {
    color: #ffffff;
    font-weight: 300;
    padding: 11px 110px;
  }
}

.about-us {
  position: relative;
  .about-bg {
    position: absolute;
    background-image: url(../img/about-bg.png);
    width: 220px;
    height: 93px;
    background-size: contain;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    //z-index: 1;
  }
  .about-wrap {
    text-align: center;
    margin: 132px 65px 60px;
    border: 1px solid #c69c6d;
    border-top: none;
    position: relative;
    padding-bottom: 34px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 25%;
      height: 1px;
      background: #c69c6d;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 25%;
      height: 1px;
      background: #c69c6d;
    }
    h2 {
      text-transform: uppercase;
      padding-bottom: 38px;
      color: #1A1A1A;
      display: inline-block;
      text-align: center;
      margin-top: -15px;
      margin-bottom: 0;
      letter-spacing: 34px;
      position: relative;
      z-index: 2;
    }
    p {
      padding: 0 55px 24px;
      font-size: 13px;
      line-height: 23px;
      color: #4D4D4D;
      font-weight: 500;
    }
  }
}

.weddings {
  position: relative;
  .wedding-photo-wrap {
    position: relative;
    background: url(../img/photographer.jpg) no-repeat;
    background-size: cover;
    width: 580px;
    height: 623px;
    transform: translateX(-85px);
    .wedding-flowers {
      position: absolute;
      background-image: url(../img/flowers.jpg);
      width: 355px;
      height: 364px;
      right: 0;
      bottom: -60%;
      transform: translateY(-50%);
      box-shadow: 2px 2px 55px rgba(0, 0, 0, .4);
    }
  }
  .weddings-wrap {
    position: relative;
    padding-top: 100px;
    h2 {
      margin-top: 80px;
      margin-bottom: 6px;
      position: relative;
    }
    p {
      text-align: center;
      font-size: 16px;
      line-height: 42px;
      letter-spacing: 3.2px;
      color: #666666;
    }
  }
  .wedding-info {
    padding: 89px 30px 0;
  }
  p {
    font-size: 13px;
    line-height: 23px;
    color: #808080;
    text-align: center;
    padding-bottom: 24px;
  }
  .main-btn {
    margin-top: 27px;
    margin-bottom: 90px;
    position: relative;
    z-index: 2;
    font-weight: 600;
  }
}

.corporate {
  padding-bottom: 60px;
  .corporate-wrap {
    margin-top: 129px;
    h2 {
      padding-top: 85px;
      position: relative;
    }
    .description {
      text-align: center;
      font-size: 16px;
      color: #666;
      padding-bottom: 40px;
      letter-spacing: 3px;

    }
  }
  .corporate-info {
    text-align: center;
    padding: 90px 50px 0 20px;
    .main-btn {
      margin-top: 47px;
    }
  }
  .corporate-bg {
    position: relative;
    background: url(../img/corporate-img.jpg) no-repeat;
    background-size: cover;
    width: 580px;
    height: 623px;
    transform: translateX(-45px);
    margin-top: 27px;
    .corporate-small-bg {
      position: absolute;
      background: url(../img/corporate-small-img.jpg) no-repeat;
      width: 355px;
      height: 355px;
      bottom: -60%;
      transform: translateY(-50%);
      box-shadow: 0 0 65px rgba(0, 0, 0, .4);
    }
  }
}

.school {
  margin-top: 93px;
  .school-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    .school-photo {
      background-image: url(../img/school-img.jpg);
      width: 42%;
      height: 537px;
    }
    .school-info {
      width: 58%;
      background: #fff;
      padding: 60px 80px;
      box-shadow: 0 0 50px rgba(0, 0, 0, .2);
      .description {
        padding-bottom: 40px;
        font-size: 16px;
        letter-spacing: 4.64px;
        color: #333333;
        font-weight: 500;
      }
      .info {
        color: #4d4d4d;
      }
    }
  }
}

.events {
  margin-top: 77px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  .events-wrap {
    width: 58%;
    padding: 55px 15px;
    background: #ffffff;
    box-shadow: 0 0 50px rgba(0, 0, 0, .2);
    h2 {
      color: #4d4d4d;
      letter-spacing: 24px;
    }
    .description {
      color: #333333;
      letter-spacing: 4.64px;
      font-weight: 500;
    }
    .info {
      color: #4D4D4D;
      padding: 0 65px 33px;
    }
  }
  .events-photo {
    width: 42%;
    background-image: url(../img/school-img.jpg);
    height: 537px;
  }
}

.offers {
  margin: 90px 0 85px;
  .offers-wrap {
    padding: 60px 15px 47px;
    box-shadow: 0 0 40px rgba(0, 0, 0, .1);
    background: #ffffff;
    margin: 0 85px;
    background: url(../img/spec-offers-bg.jpg);
    h2 {
      letter-spacing: 24.5px;
      color: #4d4d4d;
      padding-left: 24.5px;
      margin-bottom: 11px;
    }
    .description {
      font-size: 16px;
      line-height: 42px;
      letter-spacing: 3.2px;
      color: #C69C6D;
      padding-bottom: 15px;
      padding-left: 24px;
    }
    .info {
      font-size: 14px;
      color: #4D4D4D;
      padding: 0 110px 30px;

    }
  }
}

.blog {
  .swiper-slide {
    width: 260px;
  }
  .blog-bg {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding-top: 87px;
    margin: 0 26px;
    .blog-video {
      margin: 0 -20px;
      height: 600px;
      box-shadow: 0 0 50px rgba(0, 0, 0, .5);

    }
    h2 {
      letter-spacing: 17px;
      margin-top: 85px;
      padding-left: 17px;
      margin-bottom: 24px;
    }
    .description {
      font-size: 16px;
      letter-spacing: 3px;
      color: #C69C6D;
    }
    .blog-wrap {
      display: flex;
      width: 75%;
      margin: -85px auto 115px;
      transform: translateY(100px);
      .blog-cards {
        display: flex;
        width: 260px;
        flex-direction: column;
        margin-right: 25px;
        box-shadow: 0 0 5px rgba(0, 0, 0, .1);
        background: #fff;
        &:last-child {
          margin-right: 0;
        }
        img {
          max-width: 100%;
        }
        .blog-info {
          padding: 0 25px;
          h3 {
            font-size: 18px;
            color: #000000;
            padding-top: 23px;
            padding-bottom: 15px;
          }
          span {
            font-size: 13px;
            color: #666666;
            font-weight: 500;
          }
          p {
            font-size: 13px;
            padding-top: 15px;
            padding-bottom: 20px;
            color: #000000;
            span {
              text-transform: uppercase;
              color: #C69C6D;
            }
          }
        }
      }
    }
  }
}

.rewards {
  margin-top: 115px;
  .rewards-wrap {
    background: #333333;
    padding: 40px 0 50px;
    margin: 0 75px;
    display: flex;
    justify-content: center;
    .reward-item {
      width: 40%;
      img {
        display: block;
        margin: 0 auto;
        padding-bottom: 40px;
      }
      p {
        color: #ffffff;
        font-family: Myriad Pro;
        font-size: 16px;
        text-align: center;
        font-weight: 100;
      }
    }
    .reward-bg {
      background: url(../img/home1.png);
      background-position: center center;
      width: 105px;
      height: 100px;
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
    }
  }
}

.map {
  height: 505px;
  margin-top: 150px;
}

footer {
  padding: 55px 0 60px;
  background: #ffffff;
  .navigation {
    padding: 0 15px;
    margin-bottom: 60px;
    margin-top: 0;
    li {
      width: auto;
      a {
        color: #4D4D4D;
        font-weight: bold;
      }
    }
  }
  .social {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
    nav {
      li {
        a {
          color: #4d4d4d;
          margin-left: 15px;
          &:first-child {
            margin-left: 0;
          }
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
    p {
      font-family: Open Sans;
      font-weight: bold;
      font-size: 14px;
      line-height: 28px;
      color: #666666;
    }
  }
}

//.headhesive {
//  position: fixed;
//  background: #333333;
//  width: 100%;
//  transform: translateY(-100%);
//  //opacity: 1;
//  z-index: 10;
//  transition: 0.5s all;
//}
//.headhesive--stick {
//  transform: translateY(0);
//}
//.headhesive {
//  nav {
//    background: #3d3d3d;
//    display: flex;
//    justify-content: space-between;
//    align-items: center;
//    padding: 11px 30px;
//    li {
//      display: flex;
//      a {
//        display: flex;
//        align-items: center;
//        margin-right: 17px;
//        color: #ffffff;
//        font-size: 12px;
//        letter-spacing: 3.48px;
//        .fa-phone, .fa-twitter, .fa-envelope, .fa-facebook {
//          color: #c69c6d;
//          font-size: 16px;
//        }
//        .fa-twitter, .fa-facebook {
//          &:hover {
//            opacity: 0.5;
//          }
//        }
//        .fa-envelope {
//          margin-right: 11px;
//        }
//        .fa-phone {
//          margin-right: 17px;
//        }
//      }
//    }
//  }
//  .navigation {
//    background: #333333;
//    margin: 40px auto 40px;
//  }
//
//  .main-logo, .main-btn {
//    display: none;
//  }
//}

@media screen and (max-width: 1200px) {
  h2 {
    letter-spacing: 24px;
  }
  .swiper-btn-prev, .swiper-btn-next {
    display: block;
  }
  .main-page {
    header.sticky {
      nav {
        li {
          width: auto;
        }
      }
      .navigation {
        .sticky-lincoln {
          display: none;
        }
      }
    }
    header {
      .navigation {
        padding: 0 70px;
        .sticky-lincoln {
          display: none;
        }
      }
      nav {
        li {
          width: auto;
        }
      }
    }
  }
  .about-us {
    .about-wrap {
      &:before, &:after {
        width: 15%;
      }
    }
  }
  .weddings {
    .wedding-photo-wrap {
      transform: translateX(0);
      width: 100%;
    }
    .wedding-info {
      padding: 89px 0 0;
    }
  }
  .corporate {
    .corporate-bg {
      transform: translateX(0);
      width: 100%;
    }
    .corporate-info {
      padding: 90px 0;
    }
  }
  .school {
    .school-wrap {
      .school-info {
        padding: 60px 20px;
      }
    }
  }
  .events {
    .events-wrap {
      h2 {
        letter-spacing: 14px;
      }
      .info {
        padding: 0 5px 33px;
      }
    }
  }
  .offers {
    .offers-wrap {
      h2 {
        letter-spacing: 14px;
      }
      .info{
        padding: 0 0 30px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #overlay {
    #modal_form {
      width: 80%;
      .pop-up-window {
        padding: 0 30px;
      }
    }
  }
  h2 {
    letter-spacing: 20px;
    font-size: 30px;
    padding-left: 20px;
  }
  .white-bg {
    padding-top: 0;
  }

  .main-page {
    header {
      margin: 0;
      position: relative;
      nav {
        //display: none;
      }
      .navigation {
        padding: 20px;
        position: absolute;
        width: 100%;
        background: #595959;
        li {
          padding: 10px 0;
          display: block;
          &:hover {
            color: #c69c6d;
            transition: .5s all;
          }
          .events-menu:after {
            display: none;
          }
          a {
            text-transform: none;
            font-weight: 500;
            letter-spacing: 1px;
            font-size: 14px;
          }
          .enclosed-nav {
            background: transparent;
            display: block;
            position: relative;
            width: auto;
            height: auto;
            top: 5px;
            left: 0;
            padding: 5px 10px 0;
            li {
              padding: 5px 0;
              a {
                color: #ffffff;
              }
              &:hover .event-menu {
                color: #ffffff;
              }
            }
          }
        }
      }
    }
    header.sticky {
      margin: 0;
      position: relative;
      //display: none;
      nav {
        display: none;
        .main-btn-header {
          display: none;
        }
      }
      .navigation {
        padding: 20px;
        li {
          .enclosed-nav {
            display: block;
            position: relative;
            width: auto;
            background-color: transparent;
            top: 0;
            li {
              a {
                letter-spacing: 1px;
              }
            }
          }
        }
      }
    }
  }
  .headhesive {
    nav {
      display: none;
    }
  }
  h2 {
    //letter-spacing: 20px;
    //font-size: 30px;
  }
  .header {
    .navigation {
      display: none;
      margin: 0;
      li {
        padding: 10px 0;
      }
    }
  }
  .about-us {
    .about-wrap {
      &:before, &:after {
        width: 8%;
      }
    }
  }
  .weddings {
    .weddings-wrapper {
      display: flex;
      flex-direction: column-reverse;
    }
    .weddings-wrap {
      //padding: 0;
    }
    .wedding-photo-wrap {
      display: none;
      .wedding-flowers {
        display: none;
      }
    }
  }
  .corporate {
    padding-bottom: 100px;
    .corporate-bg {
      display: none;
      .corporate-small-bg {
        display: none;
      }
    }
    .corporate-wrap {
      margin-top: 0;
    }
    .corporate-info {
      padding-bottom: 0;
      .main-btn {
        margin-bottom: 0;
      }
    }
  }
  //.school {
  //  .main-btn {
  //    padding: 11px 105px;
  //  }
  //}
  //.events {
  //  .main-btn {
  //    padding: 11px 105px;
  //  }
  //}
  .rewards {
    .rewards-wrap {
      margin: 0;
      justify-content: space-around;
      .reward-item {
        img {
          width: 120px;
        }
      }
    }
  }
  .offers {
    .offers-wrap {
      margin: 0;
    }
  }
  .blog {
    .blog-bg {
      padding-top: 100px;
      margin: 0 30px;
      .blog-video {
        margin: 0 -15px;
      }
    }
  }
  footer {
    .social {
      flex-direction: column;
      p {
        padding-bottom: 20px;
      }
    }
    .navigation {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  h2 {
    letter-spacing: 10px;
    font-size: 30px;
    padding-left: 10px;
  }
  .main-page header nav {
    padding: 10px 40px;
    li .header-btn {
      padding: 8px 35px;
    }
  }

  .burger {
    position: absolute;
    top: 23px;
    z-index: 10;
  }
  .main-btn {
    padding: 11px 120px;
  }
  .main-page {
    header > nav {
      li {
        display: none;
        &:last-child {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
  //.corporate {
  //  .corporate-wrap {
  //    margin-top: 0;
  //  }
  //}
  .swiper-slider {
    margin: 100px 15px 0;
  }
  .about-us {
    .about-wrap {
      &:before, &:after {
        //width: 0;
        //height: 0;
      }
      margin: 120px 15px 60px;
      h2 {
        padding-right: 0;
        padding-left: 10px;
        letter-spacing: 10px;
      }
      p {
        padding: 0 15px 24px;
      }
    }
  }
  .gallery-info {
    h1 {
      letter-spacing: 10px;
      font-size: 27px;
    }
  }
  .corporate {
    .corporate-wrap {
      h2 {
        //letter-spacing: 10px;
        //font-size: 30px;
        //padding-left: 10px;
      }
    }
    .corporate-info {
      .main-btn {
        margin-top: 20px;
      }
    }
  }

  .school {
    .school-wrap {
      flex-direction: column-reverse;
      padding: 0 15px;
      .school-info {
        width: 100%;
        padding: 60px 15px;
      }
      .school-photo {
        display: none;
      }
    }
  }
  .events {
    flex-direction: column;
    padding: 0 15px;
    .events-wrap {
      width: 100%;
      padding: 55px 15px;
      h2 {
        letter-spacing: 10px;
        font-size: 25px;
      }
      //.main-btn {
      //  padding: 13px 90px;
      //}
    }
    .events-photo {
      display: none;
    }
  }
  .weddings {
    margin: 0 15px;
    .weddings-wrap {
      h2 {
        letter-spacing: 10px;
        font-size: 30px;
      }
    }
  }
  .offers {
    margin: 90px 15px 85px;
    .offers-wrap {
      h2 {
        letter-spacing: 10px;
        font-size: 24px;
      }
    }
  }
  .blog {
    .blog-bg {
      h2 {
        font-size: 27px;
        padding-left: 10px;
        letter-spacing: 10px;
      }
    }
  }
  .rewards {
    .rewards-wrap {
      margin: 0 15px;
      .reward-bg{
        display: none;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  h2 {
    letter-spacing: 10px;
    font-size: 25px;
    padding-left: 10px;
  }
  .main-btn {
    padding: 13px 69px !important;
  }
  .swiper-container {
    padding: 0 15px;
  }
  .swiper-btn-prev {
    left: 0;
  }
  .swiper-btn-next {
    right: 0;
  }
  .main-page {
    .main-logo {
      h1 {
        font-size: 24px;
        letter-spacing: 10px;
      }
      //p {
      //  //letter-spacing: 10px;
      //}
    }
    .main-btn {
      padding: 13px 70px;
    }
  }
  .gallery-info {
    p {
      padding-bottom: 25px;
      font-weight: 300;
    }
  }
  .about-us {
    margin-top: 100px;
    .about-bg {
      top: -25px;
    }
    .about-wrap {
      margin: 20px;
      //border: none;
      h2 {
        letter-spacing: 5px;
        font-size: 25px;
        padding-left: 15px;
      }
      p {
        padding: 0 15px 20px;
      }
    }
  }
  .weddings {
    .wedding-info {
      padding: 70px 0 0;
    }
    .weddings-wrap {
      h2 {
        letter-spacing: 10px;
        padding-left: 10px;
      }
    }
    .main-btn {
      padding: 13px 90px;
    }
  }
  .corporate {
    .corporate-info {
      padding: 90px 0 0;
    }
  }
  .offers {
    .offers-wrap {
      h2 {
        letter-spacing: 8px;
        font-size: 25px;
        padding-left: 8px;
      }
      .main-btn {
        padding: 13px 90px;
      }
    }
  }
  .blog {
    .blog-bg {
      padding-top: 0;
      .blog-wrap {
        width: 100%;
        //.blog-cards{
        //  width: 90%;
        //  margin: 0 auto;
        //}
      }
      h2 {
        letter-spacing: 8px;
        padding-left: 8px;
      }
    }
  }
  .rewards {
    .rewards-wrap {
      flex-direction: column;
      align-items: center;
      padding-bottom: 0;
      .reward-item {
        width: 90%;
        img {
          width: 150px;
        }
        p {
          padding-bottom: 40px;
        }
      }
    }
  }
  footer {
    padding: 40px 0 40px;
    .social {
      p {
        font-size: 11px;
      }
    }
  }
}

.revealator-skewright {
  transform: skew(35deg, 0deg);
  opacity: 0;
  transition: all 600ms;
}

.revealator-skewright.revealator-within,
.revealator-skewright.revealator-partially-above,
.revealator-skewright.revealator-above {
  transform: skew(0deg, 0deg);
  opacity: 1;
}

@media screen and (max-width: 320px) {
  .blog .blog-bg .blog-wrap .blog-cards {
    margin: 0 auto;
    width: 100%;
  }
}

//MODAL

#modal_form {
  top: 0 !important;
  width: 900px;
  height: 900px;
  border-radius: 5px;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 200px auto;
  display: none;
  opacity: 0;
  z-index: 50;
  padding: 20px 10px;
  .pop-up-window {
    padding: 0 100px;
    position: relative;
    z-index: 50;
    p {
      text-align: center;
      font-size: 26px;
      padding-bottom: 40px;
    }
    margin-top: 50px;
    label {
      padding-bottom: 10px;
    }
    input {
      margin-bottom: 10px;
      width: 100%;
      height: 35px;
      padding: 0 10px;
      border: 1px solid #D1D1D1;
    }
    .send {
      margin: 15px auto;
      border: none;
      font-size: 25px;
      background-color: #fff;
      display: block;
    }
  }
  #modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
  }
}

#overlay {
  overflow-y: scroll;
  z-index: 50;
  position: fixed;
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}


